*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mach{
    height: 500px;
    width: 390px;
    background-color: rgb(209, 209, 209);
    box-shadow: 0 0 10px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    margin-top: 30px;
}
select{
    height: 40px;
    width: 90px;
    background-color:white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
}
#theme{
    padding: 8.5px;
    font-size: 20px;
    
}
#result{
    height: 60px;
    width: 320px;
    margin-top: 30px;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 5px inset;
    border: none;
}
.values{
    height: 350px;
    width: 320px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border:none;
    outline: none;

}
.values button{
    height: 40px;
    width: 70px;
    border:none;
    border-radius: 8px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
}
.values button:hover{
    background-color: #9d9898;
    color: black;
}

.values .equal {
    height: 190px;
    width: 70px;
    grid-row: span 3;
     background-color: gold;
}
.values .operator{
    background-color: blue;
    color: white;
    
}
.values .clear{
    background-color: red;
    color: white;
}
.values .number{
    background-color:white;
}
.values .operator button:hover{
    background-color: rgb(255, 99, 99);
}

.values .decimal{
    background-color:white;
}